{% extends 'base.html' %}
{% block title %}
ABOUT
{% endblock title %}
{% block body %}

<header class="masthead" >

            <div class="container position-relative px-4 px-lg-5">

                <div class="row gx-4 gx-lg-5 justify-content-center">

                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">


                            <img src="https://upload.wikimedia.org/wikipedia/en/c/cb/Amulcompany.jpg" align="left" height="400" width="600">

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>THE BIRTH OF AMUL</h2>
                        <p>The seeds of this unusual saga were sown more than 74 years, a small town in the state of Gujarat in western India. The exploitative trade practices followed by the local trade cartel triggered off the cooperative movement. Angered by unfair and manipulative practices followed by the trade, the farmers of the district approached the great Indian patriot Sardar Vallabhbhai Patel for a solution. He advised them to get rid of middlemen and form their own co-operative, which would have procurement, processing and marketing under their control.</p>
                        <p>In 1946, the farmers of this area went on a milk strike refusing to be cowed down by the cartel. Under the inspiration of Sardar Patel, and the guidance of leaders like Morarji Desai and Tribhuvandas Patel, they formed their own cooperative in 1946.</p>
                        <p>This co-operative, the Kaira District Co-operative Milk Producers Union Ltd. began with just two village dairy co-operative societies and 247 litres of milk and is today better known as Amul Dairy. Amul grew from strength to strength thanks to the inspired leadership of Tribhuvandas Patel, the founder Chairman and the committed professionalism of Dr Verghese Kurien,who was entrusted the task of running the dairy from 1950.</p>
                        <p>The then Prime Minister of India, Lal Bahadur Shastri decided that the same approach should become the basis of a National Dairy Development policy. He understood that the success of Amul could be attributed to four important factors. The farmers owned the dairy, their elected representatives managed the village societies and the district union,  they employed professionals to operate the dairy and manage its business. Most importantly, the co-operatives were sensitive to the needs of farmers and responsive to their demands.</p>
                        <p>At his instance in 1965 the National Dairy Development Board was set up with the basic objective of replicating the Amul model. Dr. Kurien was chosen to head the institution as its Chairman and asked to replicate this model throughout the country</p>

                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2021</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
{% endblock body %}